$icon-font-path: '../fonts/';


$border-color: #e2e2e2;
$purple-color: #603673;

html {
	height: 100%;
	//overflow-x: hidden; 
}

body {
	font-family: 'Gilroy', sans-serif;
	font-weight: 100;
	color: #000;
	background: #fff;	
	min-width: 320px;
	height: 100%;	
	overflow-x: hidden;	
	//padding-right: 0 !important;
}

.modal-open {

	.modal {
  		padding-right: 0 !important;
	}
}

.hidden {
opacity:0;
}

.visible {
opacity:1;
}

.main {
	min-height: 100%;
	position: relative;
	padding-bottom: 195px;
		

	&:before {
		content: "";
		width: 100%;
		height: 4px;
		background: linear-gradient(to right, #7d4597, #904898);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

}


.slide-wrap {
	position: fixed;
	width: 480px;	
	min-height: 100%;	
	
	//position: relative;

	top: 0;
    left: auto;
    right: 0;

	&:after {
		content: "";
		background: url(../images/img-bg.png) no-repeat;
		position: absolute;
		width: 634px;
		height: 650px;
		display: inline-block;
		top: 57px;
		left: 60px;
	}

	img {
		//width: 100%;
		min-height: 100%;
		 -o-object-fit: cover;
    	object-fit: cover;
		vertical-align: top;
	}
}

.pagewrap {
	width: calc(100% - 480px);
	//float: left;
	background: #fff;
	//margin-right: 480px;	
	min-height: 100%;
}

.content {
	max-width: 1195px;
	margin: 0 auto;
}

.icon {
	vertical-align: top;
	display: inline-block;
}

.fa-home {
	color: $purple-color;;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}

.content-block {
	min-height: 100%;
	
}

.content-flex-wrap {
	display: flex;
}



.img-wrap {
	overflow: hidden;

	img {
	 width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
	}

}

.button {
	width: 100%;
	height: 40px;
	background: linear-gradient(to right, #7f4597, #c6529a);
	color: #fff;
	font-size: 16px;
	display: inline-block;
	line-height: 40px;
	text-align: center;

	&:hover,
	&:focus {
		height: 40px;
		background: linear-gradient(to right, #c6529a, #7f4597);
		color: #fff;
		text-decoration: none;
		transition: all 0.5s ease;
	}
}

.title {
	font-size: 64px;
	font-weight: 700;
	width: 100%;
}

.description {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;	
}

.column-list {
	display: flex;
	margin: 0 -28px;

	li {
		width: calc(33.3% - 56px);
		margin: 0 28px;
	}
}

.thin-title {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}

.breadcrumb-list {
	
	li {
		display: inline-block;
		font-size: 12px;

		&:after {
			content: "/";
			color: #000;
			display: inline-block;
		}

		&:last-child {

			&:after {
				content: "";	
			}
		}

		a {
			display: inline-block;
			color: $purple-color;
			text-decoration: underline;

			&:hover,
			&:active {
				color: $purple-color;
				text-decoration: none;
			}			
		}

		&.breadcrumb-active {

			a {
				color: #000;
				text-decoration: none;

				&:hover,
				&:active {
				color:#000;
				text-decoration: none;
				}	
			}
		}
		
	}
}


.content-section {
	padding: 20px 0;
}

.left-column {
	width: 300px;
	margin-right: 90px;
}

.right-column {
	width: calc(100% - 300px - 90px);
}

.content-title {
	font-size: 32px;
	line-height: 1.5em;
	font-weight: 700;
}

.text {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 2em;
}

.page-title {
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: 700;
	line-height: 1.5em;
	 color: #000;
}

.thin-text {
   font-size: 12px; 
   font-family: 'Lato', sans-serif;
   line-height: 2em;  
    color: #000;      
} 

.description-text {
	 font-family: 'Lato', sans-serif;
	  color: #000;
   line-height: 2em;        
	font-size: 14px;
	padding: 35px 0;
}

.big-text {
	 color: #000;
	font-size: 24px;
	line-height: 1.5em;
}

.middle-text {
	 color: #000;
	font-size: 16px;
	line-height: 2em;
}

.info-block, 
.tags-block {
	padding: 27px 0 13px 0; 

	span {
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		color: #808080;
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}
	}

	i {
		margin-right: 5px;
	}
}

.tags-block {

	a {
		color: $purple-color;;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&:active {
			color: $purple-color;
			text-decoration: underline;
		}
	}
}

.content-button {
	display: inline-block;
	border: 1px solid $purple-color;
	background: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	width: 210px;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	color: #000;
	text-decoration: none;
	transition: background 0.5s ease;

	&:hover {
		text-decoration: none;
		color: #fff;
		background: $purple-color;
	}

	i {
		margin-right: 10px;
	}

}

.middle-title {
	font-size: 48px;
	font-weight: 700;
}



