$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

.contacts-section {
	
	.thin-title {
		margin-bottom: 40px;
	}

	.column-list {		
		//margin: 0;
		

		li {
			width: 33.3%;
			padding: 30px 28px 50px 28px;
			border-right: 1px solid $border-color;
			display: flex;
			flex-direction: column;
			//align-items: center;
			justify-content: center;
			margin: 0;	
			//margin-right: 56px;
				

			&:last-child {
				border-right: none;
				
			}
		}
	}
}

.icon-mail {
	margin-right: 5px;
}

.contact-name {
	font-size: 12px;
	margin-bottom: 10px;
}

.contact-link {
	color: #000;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-transform: uppercase;

	&:hover {
		color: #000;
	}
}

.social-block {
	display: flex;
	flex-wrap:wrap;
}

.social {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	font-size: 20px;
	color: #000;
	width: 50%;
	text-decoration: none;

	i {
		vertical-align: middle;
		margin-right: 5px;
	}

	&:hover,
	&:active {
		color: #000;
		text-decoration: underline;
	}
}


.footer {	
	//width: 100%;
	width: calc(100% - 480px);	
	border-top: 1px solid $border-color;
	margin-top: -195px;
	position: relative;
	z-index: 100;
	background: #fff;
	
	.footer-column-list {
		justify-content: space-between;	
		align-items: center;
		
	}

	.button {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
	}
	
}

.footer-bottom-block {
	background: #000000;
	width: 100%;	
	position: relative;
	z-index: 100;
	height: 50px;
	position: relative;

	&:before {
		content: "";
		width: 480px;
		height: 50px;
		background: #000;
		display: block;
		position: absolute;
		bottom:0;
		right: -480px;
	}
}

.copyright {
	font-size: 12px;
	color: #fff;
	font-weight: 100;

}


	
