$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #e2e2e2;
$black-color: #111111;
$blue-color: #3c4f90;

.contacts-section {
	margin-bottom: 50px;

	.column-list {
		margin-top: 30px;
	}
}

.icon-mail {
	margin-right: 5px;
}

.contact-name {
	font-size: 12px;
	margin-bottom: 10px;
}

.contact-link {
	color: #000;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-transform: uppercase;

	&:hover {
		color: #000;
	}
}

.social {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	font-size: 20px;
	color: #000;

	.icon {
		vertical-align: middle;
		margin-right: 5px;
	}
}


.footer {	
	//width: 100%;
	width: calc(100% - 480px);	
	margin-top: -195px;
	position: relative;
	z-index: 100;
	background: #fff;
	
	.footer-column-list {
		justify-content: space-between;	
		align-items: center;
		
	}

	.button {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-transform: uppercase;
	}
	
}

.footer-bottom-block {
	background: #000000;
	width: 100%;	
	position: relative;
	z-index: 100;
	height: 50px;
	position: relative;

	&:before {
		content: "";
		width: 480px;
		height: 50px;
		background: #000;
		display: block;
		position: absolute;
		bottom:0;
		right: -480px;
	}
}

.copyright {
	font-size: 12px;
	color: #fff;
	font-weight: 100;

}


	
