$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

@media only screen and (max-width: 540px) {

    .content-title {
        font-size: 25px;
    }

//MAIN-PAGE

  .main-section {
	 
     .description {
        font-size: 14px;
     }
  }

  .main-col-section {

      .column-list {

          li {
              padding: 0 15px;
          }
      }
  }

  .list-title {
      font-size: 20px;
      margin-bottom: 10px;
  }

  .list-description {
      font-size: 14px;
  }

  // END MAIN-PAGE

  //footer

   .footer {

     .footer-column-list {
         flex-direction: column;

       li {
           width: 100%;
       }
   } 

   
}

.copyright {
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
}

  //end footer

  //MODAL

  .modal-dialog {		

        .close {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: #8822cb;
            opacity: 1;

            position: absolute;
            top: -22px;
            right: -22px;
        }
	}

  //END MODAL

}

