$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 767px) {
  
  	//nav

  	.mobile-menu {
		cursor: pointer;
		width: 50px;
		height: 20px;

		position: absolute;
		top: 50%;
		transform: translateY(-200%);
		left: 15px;

		.icon-mobile-menu {
			background-image: url(../images/icon-mobile-menu.svg);    
	    width: 24px;
	    height: 18px;			
			background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 100% 100%;
	    display: inline-block;
		}

		.icon-menu-close {
			display: none;
		}	

	}

	.is-open {

		.icon-mobile-menu {
			display: none;
		}

		.icon-menu-close {
			background-image: url(../images/icon-menu-close.svg);    
	    width: 20px;
    	height: 20px;	
			background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 100% 100%;
			display: inline-block;
			
		}

	}
  
}