$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

@media only screen and (max-width: 767px) {

    .title {
		  text-align: center;
          font-size: 30px;
	  }

    //HEADER

    .button-wrap {
        display: none;
    }

    //END HEADER

     //MAIN-PAGE

  .main-section {
	 
     .description {
         padding: 20px 0;
     }
  }  

  // END MAIN-PAGE

  //footer

   .contacts-section {

        .column-list {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

        li {
            width: 100%;
            margin: 10px 0;
        }

    }

   } 

   .footer {

     .footer-column-list {

       li {
           width: calc(50% - 28px);
       }
   } 

    .button {
        font-size: 14px;
    }
    
    }

    //VSTUP

    .vstup-block {
    
        .content-input {
             max-width: 100%;
        }

        .button {
            max-width: 100%;
        }

    }

    //END VSTUP

    //MODAL

    .modal-dialog-min {    

        .modal-body {
            text-align: center;
            padding: 15px;
        } 

        .big-text {
            padding: 50px 0;
        } 

        .icon-smile {
        margin-top: 30px;
        }  
    }

    //END-MODAL

   
}