$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 767px) {

    .title {
		  text-align: center;
          font-size: 30px;
	  }

    //HEADER

    .button-wrap {
        display: none;
    }

    //END HEADER

     //MAIN-PAGE

  .main-section {
	 
     .description {
         padding: 20px 0;
     }
  }  

  // END MAIN-PAGE

  //footer

   .contacts-section {

        .column-list {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

        li {
            width: 100%;
            margin: 10px 0;
        }

    }

   } 

   .footer {

     .footer-column-list {

       li {
           width: calc(50% - 28px);
       }
   } 

   .button {
       font-size: 14px;
   }
    
}

   
}