$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

@media only screen and (max-width: 320px) {

	//MAIN-PAGE

	.main-page {

		//section-3

		.responsive-slider {
			width: 100%;			
		}	

		//end section-3

	}

	//END MAIN-PAGE
 
}