$icon-font-path: '../fonts/';

$page-color: #393939;
$gray-color: #858585;
$border-color: #d8d8d8;
$black-color: #111111;
$blue-color: #3c4f90;

@media only screen and (max-width: 1705px) {	

    .content {
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
    }

      .slide-wrap {
       width: 280px;
    
	}

	.pagewrap {
		width: calc(100% - 280px);
	}

}