$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

.partner-block {

    .middle-text {
         font-family: 'Lato', sans-serif;
         margin: 10px 0;
    }

    .bg-block {
        background: #c8529a;
        padding: 60px 40px;
        color: #fff;
        position: relative;
        min-height: 275px;
        overflow: hidden;

        &:after {
            content: "";           
            transform: rotate(15deg);
            display: block;
            background-image: url(../images/list-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 163px;
            height: 153px;
            bottom: 5%;
            right: 10%;
        }
    }

    .list-description {
        font-family: 'Lato', sans-serif;
        line-height: 2em;
        font-size: 16px;
        font-weight: 400;       
        padding: 0 15px;

        a {            
             

            &:hover {           
                position: relative;
            
                &:before {
                    content: "";
                   background: rgba(190, 70, 143, 0.7);            
                    position: absolute;
                    display: inline-block;
                    top: 0;                
                    left: -11px;               
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    box-sizing: content-box;
                    color: #fff;
                    border-left: 10px solid rgba(190, 70, 143, 0.5);
                    border-right: 10px solid rgba(190, 70, 143, 0.5);
                }                   
            }
        } 
    }

    .page-create-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 40px 0;

        li {
            border: 1px solid #e2e2e2;
           // border-right: none;
            text-align: center;
            padding: 60px 25px;
            width: 33.3%;
            margin-bottom: -1px;
            margin-left: -1px;

            &:last-child {
                //border-right: 1px solid #e2e2e2;
            }
        }

         .logo-wrap {	
            height: 100px;
            line-height: 100px;
        }       

        a {
            display: block;
        }

        .content-title {
            padding: 35px 0 14px 0;
        }
    }

    .site-link {
        font-size: 14px;
        color: #000;
        text-decoration: none;
         padding: 14px 0;

        &:hover,
        &:active {
            color: #000;
            text-decoration: underline;
        }
    }

    .info-link {
        font-size: 12px;
        font-weight: 700;
        color: $purple-color;
        text-decoration: underline;
        padding: 14px 0 0 0;

         &:hover,
        &:active {
            color: $purple-color;
            text-decoration: none;
        }
    }
}