$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

.vstup-block {  

    .content-flex-wrap {
        flex-direction: column;
    }  

   .page-create-list {
       display: flex;
       width: 100%;

       li {            
            border: 1px solid $border-color;
            border-right: none;
            //width: 33.3%;
            text-align: center;
            padding: 60px 25px;

           /* display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;*/
            
            &:last-child {
                border-right: 1px solid $border-color;
            }
       }

       .num-wrap {
            display: inline-block;
            background: url(../images/page-list.png) no-repeat;
            width: 100px;
            height: 82px;
            text-align: center;
        }

        .num {
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            align-items: center;
            vertical-align: middle;
            line-height: 82px;
        }
       
   }

   .thin-text {
    margin-top: 20px;
   }

   .section-item {
       display: flex;
       margin-bottom: 100px;

       &:last-child {
           margin-bottom: 0;
       }
   }

   .text-block {
       background: transparent;
   }

   .bg-block {
       background: #c8529a;
        padding: 60px 40px;
        color: #fff;
        position: relative;
        min-height: 275px;
        overflow: hidden;

        &:after {
            content: "";
            transform: rotate(15deg);
            display: block;
            background-image: url(../images/list-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 163px;
            height: 153px;
            bottom: 5%;
            right: 10%;
        }
    }

   .content-input {
        max-width: 540px;
   }

   .content-label {
    line-height: 2em;
    margin-bottom: 7px;

        sub {
            margin-top: 10px;
        }

   }

    .checkbox-block-wrap {
       display: flex;
   }

   .checkbox-block {
       border: 1px solid $border-color;
       width: calc(50% - 16px);       
       margin-right: 8px;
       padding: 55px 25px;       

       display: flex;  
       align-items: center;     

       &:last-child {
            margin-left: 8px;
            margin-right: 0;
       }      
   }

  

   .checkbox-label {
       display: inline-block;
       margin-left: 35px;
   }

   .checkbox-block.block-active {
       border: 1px solid #7d4597;
   }

   .button {
        max-width: 540px;
        font-weight: 700;
        letter-spacing: 2px;
   }

}